/* preloader */
.hidden {
    overflow: hidden;
}

.centrado {

    height: 100vh;
    background-color: rgba(22, 1, 41, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;

}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 2rem;
    height: 2rem;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 50%;
    height: 20%;
    margin: 8px;

    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}


html {
    background-image: url("./LANDING-1.jpg");
    background-size: 100% 100%;
    background-color: rgb(6, 0, 14);
    background-repeat: no-repeat;
    object-fit: cover;
    scroll-behavior: auto;
    max-width: 2000px;
    min-width: 400px;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-family: 'Roboto', sans-serif;
    

}

header {


    margin-top: 25%;
    width: 100%;
    margin-bottom: 135%;

    text-align: center;


}

.header-text1 {
    color: #fff;
    font-size: 6vw;
    margin-bottom: 0;
}

.header-text2 {
    color: #face08;
    font-style: italic;
    font-size: 6vw;
    margin-bottom: 20%;
    margin-top: 0;
}



.contenedor-11 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    
}

.contenedor-11-text {
    color: #fff;
    font-size: 3vw;

    text-decoration-style: none;

    

    margin-bottom: 10%;
    border-radius: 50px;
    background: #1AAB8A;
    outline: none;

}

.contenedor-11-text a {
   
    text-decoration: none;
    font-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}
@media screen and (max-width:695px) {
    


    
    header {


        margin-top: 25%;
        width: 100%;
        margin-bottom: 145%;
    
        text-align: center;
    
    
    }
}
@media screen and (max-width:658px) {
    
    
    header {


        margin-top: 25%;
        width: 100%;
        margin-bottom: 155%;
    
        text-align: center;
    
    
    }
}
@media screen and (max-width:625px) {
    
    
    header {


        margin-top: 30%;
        width: 100%;
        margin-bottom: 200%;
    
        text-align: center;
    
    
    }
}
@media screen and (max-width:500px) {
    
    
    header {


        margin-top: 40%;
        width: 100%;
        margin-bottom: 230%;
    
        text-align: center;
    
    
    }
}
@media screen and (max-width:435px) {
    
    
    header {


        margin-top: 43%;
        width: 100%;
        /* margin-bottom: 240%; */
    
        text-align: center;
    
    
    }
}

@media screen and (max-width:400px) {
    
    
    header {


        margin-top: 43%;
        width: 100%;
        /* margin-bottom: 300%; */
    
        text-align: center;
    
    
    }

    

}


@media screen and (max-width:400px) {
    
    
    header {


        margin-top: 43%;
        width: 100%;
        /* margin-bottom: 350%; */
    
        text-align: center;
    
    
    }

    

}

